# macOS
.DS_Store
.Trashes

# VSCode
.vscode

# Python
*.py[cod]
__pycache__/
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.pyc
winvenv/

# Distribution / packaging
build/
dist/
domonic.egg-info/

# Sphinx documentation
docs/_build/

# Coverage reports
.coverage
.coverage.*
