include README.md
include CHANGELOG.md
include SECURITY.md
include CITATION.cff
include LICENSE.txt
include requirements.txt
include requirements-dev.txt
include requirements-docs.txt
recursive-include tests *
global-exclude __pycache__
global-exclude *.pyc
