docutils>=0.21.2
Sphinx>=7.4.7
sphinxcontrib-applehelp>=2.0.0
sphinxcontrib-devhelp>=2.0.0
sphinxcontrib-htmlhelp>=2.1.0
sphinxcontrib-jsmath>=1.0.1
sphinxcontrib-qthelp>=2.0.0
sphinxcontrib-serializinghtml>=2.0.0
elementpath>=4.6.0
python-dateutil>=2.9.0.post0
requests~=2.32.3
urllib3~=2.2.3
html5lib>=1.1
cssselect>=1.2.0
