python-dateutil==2.8.1
requests==2.25.1
urllib3==1.26.5
aiofiles==0.6.0
alabaster==0.7.12
autopep8==1.5.4
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
coverage==5.2.1
docutils==0.16
flake8==3.8.3
httptools==0.1.1
idna==2.8
imagesize==1.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.6.1
multidict==5.1.0
packaging==20.4
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.25.1
sanic==21.3.2
sanic-routing==0.5.2
sanic-session==0.8.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.1
ujson==4.0.2
urllib3==1.26.5
uvloop==0.15.2
websockets==8.1
wheel